[nix]
packages = ["unzipNLS"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 44802328
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
